.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
  display: flex;
  justify-content: center;
}

.bottom > .icon {
  margin-left: 38px;
}

.toolbar{
  display: flex;
  justify-content: space-between
}

.rightSideNavBar{
  display: flex;
  align-items: center;
}